.CartProductsDisplay img{
    min-width: 300px;
    max-width: 300px;
    min-height: auto;
    max-height: auto;
}
.Cart {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}